featuretools==0.20.0
gensim==3.6.0
graphviz==0.14.2
jinja2
joblib
hyperopt==0.2.4
lightgbm==2.3.0
networkx
nltk
numpy
pandas
psutil
pymystem3
scikit-learn==0.22.2
scipy==1.2.0
seaborn
setuptools==40.5.0
shap
tqdm
xgboost==0.90